@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.filters {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.filter {
  display: flex;
  flex-direction: column;

  &__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    width: auto;
    justify-content: flex-start;
  }

  &__item {
    border: 1.4px solid transparent;
    border-radius: 0.8rem;
    padding: 0.5rem 2rem;
    list-style: none;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.3s;
  }

  &__item-blue {
    color: var(--color-primary-first-light);
    background-color: var(--color-primary-first);
  }

  &__item-blue.active {
    background-color: #ccffe2;
    border-color: var(--color-primary-first);
    color: var(--color-primary-first);
  }

  &__item-blue:hover {
    background-color: #ccffe2;
    border-color: var(--color-primary-first);
    color: var(--color-primary-first);
  }

  &__item-yellow {
    color: #fdf8e1;
    background-color: #fdb833;
  }

  &__item-yellow.active {
    background-color: #fdf8e1;
    border-color: #fdb833;
    color: #fdb833;
  }

  &__item-yellow:hover {
    background-color: #fdf8e1;
    border-color: #fdb833;
    color: #fdb833;
  }
}
