@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header {
  &__desktop {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 3rem;
    margin: 2rem 0;

    @include respond-max(48.75em) {
      //780px
      display: none;
    }
  }

  &__title {
    line-height: 1.3;
    font-size: 3rem;

    @include respond(phone) {
      font-size: 2.7rem;
    }
  }

  &__search-form-desktop {
    display: flex;
    position: relative;
    flex: 1;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    color: #adb5bd;
    width: 2rem;
  }

  &__input {
    border: 1px solid #e9ecef;
    background-color: #e9ecef;
    padding: 1.4rem;
    flex: 1;
    border-radius: 0.8rem;
    padding-left: 4rem;
  }

  &__input::placeholder {
    color: #adb5bd;
    font-family: "montserrat", sans-serif;
  }

  &__input:focus {
    outline: none;
    border-color: #adb5bd;
    background-color: #f8f9fa;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    @include respond-max(48.75em) {
      //780px
      display: none;
    }
  }

  &__button {
    width: 4.5rem;
    height: 4.5rem;
    background-color: #adb5bd;
    color: #e9ecef;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

//--------------//
// MOBILE MENUR //
//--------------//

.header {
  &__mobile {
    display: none;
    width: 100%;

    @include respond-max(48.75em) {
      //780px
      display: inline-block;
    }
  }

  &__first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4rem 0;
  }

  &__mobile-menue {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    &__button {
      width: 4.5rem;
      height: 4.5rem;
      background-color: #adb5bd;
      border-radius: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__second {
    width: 100%;
    margin-bottom: 1rem;
  }

  &__search-form-mobile {
    display: flex;
    position: relative;
    flex: 1;
  }

  &__icon-mobile {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    color: #adb5bd;
    width: 2rem;
  }

  &__input-mobile {
    border: 1px solid #e9ecef;
    background-color: #e9ecef;
    padding: 1.4rem;
    flex: 1;
    border-radius: 0.8rem;
    padding-left: 4rem;
  }

  &__input-mobile::placeholder {
    color: #adb5bd;
    font-family: "montserrat", sans-serif;
  }

  &__input-mobile:focus {
    outline: none;
    border-color: #e9ecef;
    background-color: #f8f9fa;
  }
}
