@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.middlebox {
  display: flex;
  align-items: center;
  background-color: #adb5bd;
  height: 100vh;
  padding: 1rem;

  @include respond-max(48.75em) {
    padding: 0;
  }
}

.sidebar {
  flex: 0 0 15%;
  height: 100%;

  @include respond(tab-land) {
    flex: 0 0 5%;
  }

  @include respond-max(48.75em) {
    //789px
    display: none;
  }
}

.content {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;

  @include respond(tab-land) {
    border-radius: 0;
  }
}

.header {
  margin: 2rem 2rem;
}

.filters {
  margin: 2rem 2rem;
}

.main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  margin: 0 1rem;
  flex: 1;
}

.cards {
  flex: 3;
  height: 100%;
  border-radius: 2rem 2rem 0 0;
  padding: 5rem 1rem;

  @include respond(tab-port) {
    flex: 2;
  }

  @include respond(phone) {
    flex: 1;
  }
}

.recept {
  flex: 1;
  height: 100%;
  padding: 4rem 0;
  background-color: lightcoral;
  align-self: flex-end;

  @include respond-max(56.25em) {
    display: none;
  }
}

.footer {
  background-color: greenyellow;
}
