@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.sidebar {
  &__desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-left: -1rem;

    @include respond(tab-land) {
      display: none;
    }
  }

  p,
  a {
    color: var(--color-white);
  }

  &__logo {
    height: 6rem;
    width: 6rem;
    background-image: url(../img/technig-logo.png);
    background-size: cover; /* изображение масштабируется, чтобы покрыть весь блок */
    background-position: center; /* центрирование изображения */
    background-repeat: no-repeat; /* не повторять */
    border-radius: 1rem;
    margin-bottom: 1rem;
  }

  &__title {
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
  }
  &__subtitle {
    font-size: 1.4rem;
    text-align: center;
  }
  &__socialbox {
    display: flex;
    gap: 1rem;
    margin: 2rem 0;
  }

  &__menu {
    align-self: flex-start;
    padding-left: 5rem;
  }

  &__menu-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__menu-item,
  &__submenu-item {
    list-style: none;
  }

  &__menu-link {
    text-decoration: none;
    color: var(--color-font);
    font-weight: 500;
    font-size: 1.8rem;
  }

  &__submenu-link {
    text-decoration: none;
    color: var(--color-font);
    font-size: 1.6rem;
  }
}

.sidebar {
  &__mobile {
    display: none;

    @include respond(tab-land) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      margin-left: -1rem;
      padding: 2rem 0;
    }
  }

  &__logo-short {
    height: 4rem;
    width: 4rem;
    border-radius: 0.8rem;
    background-image: url(../img/technig-logo.png);
    background-size: cover; /* изображение масштабируется, чтобы покрыть весь блок */
    background-position: center; /* центрирование изображения */
    background-repeat: no-repeat; /* не повторять */
    margin-bottom: -22rem;
  }

  &__icons-short {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__icon-short {
    background-color: var(--color-primary-second-light);
    color: var(--color-primary-second);
    border-radius: 1rem;
    width: 4.5rem;
    height: 4.5rem;
    padding: 1rem;
    transition: 0.3s;
    cursor: pointer;
  }

  &__icon-short:hover {
    color: var(--color-primary-second-light);
    background-color: var(--color-primary-second);
  }

  &__socialbox-short {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__iconbox-short {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-second-light);

    border-radius: 0.8rem;
    width: 4rem;
    height: 4rem;
  }
}
