@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.hidden {
  display: none !important;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
  justify-content: start;
  align-items: start;
  gap: 2rem;
  flex-wrap: wrap;

  height: auto;
  max-height: 60vh; /* высота, например 80% от экрана */
  overflow-y: auto; /* вертикальный скролл */
  scrollbar-width: none;

  cursor: pointer;

  @include respond-max(25.8125em) {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
  }

  p,
  li,
  h3 {
    font-size: 1.3rem;
  }

  p {
    white-space: normal;
  }

  &__coffee-card {
    border-radius: 2rem;
    background-color: var(--color-white);
    border: 2.5px solid var(--color-grey-light-2);
    padding: 2rem;

    display: flex;
    flex-direction: column;

    height: 40rem; // фиксированная высота
    min-height: 40rem; // на всякий случа
    max-width: 25rem;
    transition: 0.3s;

    &:hover {
      border-color: var(--color-primary-first);
      box-shadow: var(--box-shadow);
      transform: translateY(-1rem);
    }

    &.active {
      border-color: var(--color-primary-second);
      background-color: var(--color-primary-second-light);
      box-shadow: var(--box-shadow);
      transform: translateY(-1rem);
    }

    &__title {
      margin-top: -1rem;
    }

    &__img {
      align-self: center;
      width: auto;
      height: 15rem;

      @include respond(xs-phone) {
        width: auto;
        height: 10rem;
        margin-top: -5rem;
      }
    }

    &__img--big {
      width: auto;
      height: 10rem;
      margin: -2rem auto 0;
    }

    &__ingredients li {
      list-style: none;
    }
  }

  &__juice-card {
    border-radius: 2rem;
    background-color: var(--color-white);
    border: 2.5px solid var(--color-grey-light-2);
    padding: 2rem;
    margin-bottom: 3rem;

    display: flex;
    flex-direction: column;

    height: 36rem; // фиксированная высота
    min-height: 36rem; // на всякий случа
    max-width: 25rem;
    transition: 0.3s;

    &:hover {
      border-color: var(--color-primary-first);
      box-shadow: var(--box-shadow);
      transform: translateY(-1rem);
    }

    &__title {
      margin-top: 1rem;
      font-size: 1.3rem;
      font-weight: 800;
    }

    &__img {
      align-self: center;
      width: auto;
      height: 15rem;
      display: flex;
      align-items: center;

      @include respond(xs-phone) {
        width: auto;
        height: 10rem;
      }
    }

    &__img--big {
      width: auto;
      height: 10rem;
      margin: -2rem auto 0;
    }

    &__ingredients li {
      list-style: none;
    }
  }
}

.empty-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccffe2;
  border: 2px solid var(--color-primary-first);

  h2,
  p {
    text-align: center;
    color: var(--color-primary-first);
  }

  p {
    font-size: 1.6rem;
    font-weight: 500;
  }

  &__box {
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: center;
  }
}

.empty-card-juice {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccffe2;
  border: 2px solid var(--color-primary-first);

  h2,
  p {
    text-align: center;
    color: var(--color-primary-first);
  }

  p {
    font-size: 1.6rem;
    font-weight: 500;
  }

  &__box {
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: center;
  }
}
